
body {
    background-color: #fff;
    color: #666;
}
header {
    background-color: #003;
    color: #fff;
}
nav {
    background-color: #90c7e3;
}
h1 {
    margin-bottom: 0px;
}
h2 {
    color: #39c;
}
dt {
    color: #003;
}
.resort {
    color: #5c7fa3;
}
