
body {
    background-color: #fff;
    color: #5d7784;
}
header {
    background-color: #6489d0;
    color: #fff;
}
nav {
    background-color: #cabca9;
}
h1 {
    margin-bottom: 0px;
}
h2 {
    /*color: #5c6254;*/
    color: #5c6254;
}
dt {
    color: #003;
}
.resort {
    color: #5b81d2;
}
