body {
    background-color: #E8EEEA;
    background-image: linear-gradient(to bottom, #f4f2f6, #c4b2e2);
    color: #6e41b8;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
header {
    background-color: #99c3be;
    /*background-color: #606e66;*/
        /*bgi*/
    background-image: url(yoga_images/lilyheader.jpg);
    /*bgp*/
    background-position: right;
    /*bgr:n*/
    background-repeat: no-repeat;
    color: #5624A8;
    /*color: #fff;*/
    height: 60px;
    padding-top: 15px;
    text-align: center;
}
nav {
    /*background-color: #beaf9c;*/
    font-weight: bold;
    list-style-position: inside;
    padding: 10px;
    text-align: center;
}
nav a {
    /*tt:n*/
    text-transform: none;
}
main {
    /*p1-20-20*/
    padding: 1px 20px 20px;
}
h1, h2, h3, footer {
    font-family: Georgia, "Times New Roman", serif;
}
h1 {
    margin-bottom: 0;
    margin-top: 0;
}
h2 {
    /*color: #5c6254;*/
    color: #00A8A1;
    text-shadow: 1px 1px 1px #647272;
    /*color: #5d7784;*/
    /*color: #042810;*/
}
dt {
    color: #4339A8;
}
footer {
    font-size: 75%;
    text-align: center;
    font-style: italic;
    padding: 20px;
}
#contact {
    font-size: 90%;
}
#homehero {
    height: 300px;
    background-image: url(images/coast2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.studio{
    /*color: #900CF5;*/
    color: #5C1CF5;
}